<!-- Modal -->
<div class="modal fade" id="delete{{ u.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer définitivement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de supprimer <span class="font-weight-bold"> définitivement</span>, l'utilisateur <span class="font-weight-bold">{{ u.fullName }}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" data-dismiss="modal"><i class="fas fa-times"></i> Fermer</button>
                <a href="{{ path('admin_user_delete_id', {'id' : u.id}) }}" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Supprimer
                </a>
            </div>
        </div>
    </div>
</div>
