{% extends 'Front/base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center">Bienvenue sur <span class="font-weight-bold">Educat</span> la plateforme pour rendre vos cours</h1>
    </div>
{% endblock %}
