{% extends 'Back/base.html.twig' %}

{% block title %}Page d'accueil back-office{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center"> Bienvenue sur le back-office</h1>
    </div>
{% endblock %}